<% layout('layouts/boilerplate') -%>

<body>
    <div id="filters">
        <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p> Mountains</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Top Cities</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-snowflake"></i></div>
            <p>Arctic</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-umbrella-beach"></i></div>
            <p>Beach front</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-tractor"></i></div>
            <p>Farms</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
        </div>
        <div class="filter">
            <div> <i class="fa-solid fa-sailboat"></i></div>
            <p>Boats</p>
        </div>
        <div class="filter">
            <div> <i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
        </div>

       
        <div class="tax-toggle">
            <div class="form-check form-switch form-check-reverse">
                <input class="form-check-input" type="checkbox" id="switchCheckReverse">
                <label class="form-check-label" for="switchCheckReverse">Display Total After Taxes</label>
              </div>

        </div>
        

        
        
        

        
    </div>
    
    <!-- <h2 >All Listings</h2> -->
   
    <div class="row row-cols-lg-3 row-cols-md-2 row-col-sm-1 row-col-xs-1">
    <% for(let list of arr){ %>
        <a href="/listings/<%= list._id%>">
    
            <div class="card col"  >
                <img src=<%=list.image.url %> class="card-img-top" alt="image" style="height: 20rem;">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <p class="card-text">
                       <b><%= list.title %></b> 
                    </p>
                    <p class="card-text">&#8377;<%= list.price.toLocaleString("en-IN") %> / night <i class="tax"> + 18% Taxes</i>
                    </p>
                    
    
                </div>
            </div>
        </a>
     <% } %>
    </div>
   
    <script>
        let toggleElement=document.getElementById("switchCheckReverse");
        toggleElement.addEventListener("click",()=>{
            let taxInfo=document.getElementsByClassName("tax");
            for(tax of taxInfo){
                if(tax.style.display!="inline"){
                    tax.style.display="inline";

                }
                else{
                    tax.style.display="none";
                }
                
            }

        })
    </script>
   
     
    
    
</body>
