<% layout('layouts/boilerplate') -%>
<body>
    <div class="row">
        <h2 class="col-6 offset-3">Signup To WanderLust</h2>
        <form action="/signup" method="post" class="col col-6 offset-3 needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">UserName</label>
                <input type="text" name="username" class="form-control" required>
                <div class="valid-feedback">Looks Good!</div>
                <div class="invalid-feedback">please enter the valid userName</div>
                

            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" name="email" class="form-control" required>
                <div class="valid-feedback">Looks Good!</div>
                <div class="invalid-feedback">please enter the valid Email</div>
                

            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" required>
                <div class="valid-feedback">Looks Good!</div>
                <div class="invalid-feedback">please enter the valid password</div>
                

            </div>
            <button class="btn btn-success">Sign Up</button>


        </form>

    </div>
    
    
</body>